UNIFI_HOST=https://192.168.1.1
UNIFI_USERNAME=metrics-reader
UNIFI_PASSWORD=change-me
UNIFI_SITE=default
UNIFI_VERIFY_SSL=false
ECOFLOW_ACCESS_KEY=
ECOFLOW_SECRET_KEY=
ECOFLOW_DEVICE_SNS=
ZFS_ENABLED=false
ZFS_POOLS=
EXPORTER_ADDR=0.0.0.0
EXPORTER_PORT=9130
SCRAPE_TTL_SECONDS=20
