UNIFI_HOST=https://192.168.1.1
UNIFI_USERNAME=metrics-reader
UNIFI_PASSWORD=change-me
UNIFI_SITE=default
UNIFI_VERIFY_SSL=false
UNIFI_PROTECT_ENABLED=false
ECOFLOW_ACCESS_KEY=
ECOFLOW_SECRET_KEY=
ECOFLOW_DEVICE_SNS=
ZFS_ENABLED=false
ZFS_POOLS=
INTEL_GPU_ENABLED=false
GPU_SYSFS_PATH=/sys/class/drm/card1
EXPORTER_ADDR=0.0.0.0
EXPORTER_PORT=9130
SCRAPE_TTL_SECONDS=20
